[workspace]
members = [
    "programs/cowguard-insurance",
    "programs/multi-asset-staking",
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = true
codegen-units = 1
opt-level = "z"
strip = true
panic = "abort"

[workspace.dependencies]
anchor-lang = "0.30.1"
anchor-spl = "0.30.1"
